<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>안혜준 201824523 My Database</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <button onclick="location.href='/..' ">back</button>
    <h2>Product table</h2>
    <div>
        <table>
            <thead>
                <tr>
                    <th>maker</th>
                    <th>model</th>
                    <th>type</th>
                </tr>
            </thead>
        </table>

        <h2>PC table</h2>
        <table>
            <thead>
                <tr>
                    <th>model</th>
                    <th>speed</th>
                    <th>ram</th>
                    <th>hd</th>
                    <th>price</th>
                </tr>
            </thead>
        </table>

        <h2>Laptop table</h2>
        <table>
            <thead>
                <tr>
                    <th>model</th>
                    <th>speed</th>
                    <th>ram</th>
                    <th>hd</th>
                    <th>screen</th>
                    <th>price</th>
                </tr>
            </thead>
        </table>

        <h2>Printer table</h2>
        <table>
            <thead>
                <tr>
                    <th>model</th>
                    <th>color</th>
                    <th>type</th>
                    <th>price</th>
                </tr>
            </thead>
        </table>
    </div>
    <h3>is created ! ! !</h3>

</body>
</html>